﻿@using LaRed.Shared.Models
@page "/ubicaciones/edit/{id:int}"
@inject HttpClient Http
@inject NavigationManager Navigation
<h3>Editar Ubicacion</h3>
<EditForm Model="@_ubicaciones" OnValidSubmit="Put">
    <div class="form-group">
        <label>Nombre Ubicacion</label>
        <InputTextArea @bind-Value="_ubicaciones.NombreUbicacion" />
    </div>
    <div class="form-group">
        <label>Descripción Ubicacion</label>
        <InputTextArea @bind-Value="_ubicaciones.DescripcionUbicacion" />
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-success" value="Editar Ubicacion" />
    </div>
</EditForm>
@code {
    [Parameter]
    public int ID { get; set; }
    private Ubicaciones _ubicaciones = null;
    protected override async Task OnInitializedAsync()
    {
        _ubicaciones = await Http.GetFromJsonAsync<Ubicaciones>($"/api/Ubicaciones/{ID}");
    }
    private async Task Put()
    {
        await Http.PutAsJsonAsync<Ubicaciones>($"/api/Ubicaciones/{_ubicaciones.ID}", _ubicaciones);
        Navigation.NavigateTo("/ubicaciones");
    }
}